# The Docker image that will be used to build your app
image: busybox
create-pages:
  pages:
    # The folder that contains the files to be exposed at the Page URL
    publish: public
  rules:
    # This ensures that only pushes to the default branch will trigger
    # a pages deploy
    - if: $CI_COMMIT_REF_NAME == 'master'
  # Functions that should be executed before the build script is run
  before_script: []
  script:
    - mkdir .public
    - cp -r * .public
    - mv .public public
    - echo "created public dir for Gitlab page"

